<md-bottom-sheet md-colors="{'background-color': 'background', 'border-top-color': 'background-hue-2'}">
	<div style="max-width: 600px; margin: 0 auto" layout="column">
		<md-input-container class="hide-md-errors-spacer">
			<label>New cocktail</label>
			<input ng-model="cocktail.name"/>
		</md-input-container>

		<div ng-repeat="ingredient in cocktail.ingredients" layout="row">
			<md-autocomplete
					flex="auto"
					class="hide-md-errors-spacer"
					md-selected-item="ingredient.item"
					md-selected-item-change="ctrl.ensureIngredientsCapacity($index+2)"
					md-search-text="ingredient.searchText"
					md-items="item in ctrl.querySearch(ingredient.searchText)"
					md-item-text="item.Name"
					md-min-length="0"
					md-floating-label="Ingredient">
				<md-item-template>
					<span md-highlight-text="ingredient.searchText" md-highlight-flags="i">{{item.Name}}</span>
				</md-item-template>
				<md-not-found>
					<a ng-click="ctrl.newIngredient(ingredient, ingredient.searchText)"
					   class="layout-fill-link">
						Add "{{ingredient.searchText}}"
					</a>
				</md-not-found>
			</md-autocomplete>

			<md-autocomplete
					ng-if="ingredient.item.new"
					class="hide-md-errors-spacer"
					md-selected-item="ingredient.item.Einheit"
					md-search-text="ingredient.searchUnit"
					md-items="unit in ctrl.querySearchUnit(ingredient.searchUnit)"
					md-item-text="unit"
					md-min-length="0"
					md-floating-label="Unit">
				<md-item-template>
					<span md-highlight-text="ingredient.searchUnit" md-highlight-flags="^i">{{unit}}</span>
				</md-item-template>
			</md-autocomplete>

			<md-input-container class="hide-md-errors-spacer" ng-if="ingredient.item">
				<label>{{ingredient.item.Einheit}}</label>
				<input type="number" ng-model="ingredient.amount"/>
			</md-input-container>
		</div>
		<div layout="row" layout-align="space-between center">
			<div class="md-secondary md-body-1">
				A cocktail needs a name and at least 2 ingredients.
			</div>

			<div>
				<md-button class="md-raised"
				           ng-click="ctrl.cancel()">
					Cancel
				</md-button>
				<md-button class="md-raised md-accent"
				           ng-click="ctrl.save()"
				           ng-disabled="!ctrl.isValid()">
					Save
				</md-button>
			</div>
		</div>
	</div>

</md-bottom-sheet>