@import 'src/theme-colors';

#main {
  > h1 {
    text-align: center;
  }

  > .tab-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding-bottom: 88px;
    margin-top: 16px;

    > md-tabs {
      min-height: 600px;
    }
  }

  .md-fab.ng-hide {
    transform: scale(0);
  }
}

.layout-fill-link {
  display: block;
  height: 100%;
  margin: 0 -15px;
  padding: 0 15px;
}

.ingredient {

  &.insufficient {
    color: $accent;
  }

  &.missing {
    color: $primary;
  }

  > .measurement {
    min-width: 6em;
    text-align: right;
    margin-right: 1em;
  }

  > .name {
  }
}

.inventory-item {
  > .name {
    min-width: 10em;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 4px;
  }

  > .measurement {
    margin-bottom: 0;
    font-size: 15px;
  }

  > .md-button {
    margin-top: 0;
    margin-bottom: 0;
  }
}