<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
		<h2 flex md-truncate>Can I have a drink?</h2>
	</div>
</md-toolbar>

<main id="main" layout="column" flex="auto" layout-align="start center">
	<div class="tab-wrapper">
		<md-tabs md-selected="ctrl.selectedTab"
		         md-stretch-tabs="always"
		         md-border-bottom="true"
		         flex="auto">
			<md-tab label="Mixable Drinks">
				<md-list>
					<md-list-item ng-repeat="drink in ctrl.mixableDrinks">
						<span>{{drink.Anzahl}}x {{drink.Cocktail}}</span>
					</md-list-item>
				</md-list>
			</md-tab>
			<md-tab label="Recipes">
				<expansion-panel ng-repeat="recipe in ctrl.recipes"
				                 expanded="recipe.expanded"
				                 class="md-margin">
					<expansion-header layout="row" layout-align="start center">
						<div ng-class="{'md-truncate': !recipe.expanded}" flex="auto">
							{{recipe.name}}
						</div>
						<md-icon class="expand-icon"
						         ng-class="{rotated: recipe.expanded}">
							expand_more
						</md-icon>
					</expansion-header>
					<expansion-body>
						<strong>Ingredients:</strong>
						<md-list>
							<md-list-item ng-repeat="ingredient in recipe.ingredients">
								<div class="ingredient" layout="row"
								     ng-class="{'missing': ingredient.missing,
                                                'insufficient': ingredient.insufficient}">
									<div class="measurement">
										<span class="amount">{{ingredient.amount}}</span>
										<span class="unit">{{ingredient.unit}}</span>
									</div>
									<span class="name">{{ingredient.name}}</span>
								</div>
								<div class="ingredient md-secondary"
								     ng-class="{'missing': ingredient.missing,
                                                'insufficient': ingredient.insufficient}">
									<span ng-if="ingredient.insufficient">{{ingredient.stockAmount}} {{ingredient.unit}}</span>
									<span ng-if="ingredient.missing">---</span>
								</div>

								<md-tooltip ng-if="ingredient.insufficient"
								            md-direction="right">
									There's only {{ingredient.stockAmount}} {{ingredient.unit}} in stock.
								</md-tooltip>

								<md-tooltip ng-if="ingredient.missing"
								            md-direction="right">
									This ingredient is not in stock!
								</md-tooltip>
							</md-list-item>
						</md-list>
					</expansion-body>
				</expansion-panel>
			</md-tab>
			<md-tab label="Inventory">
				<div ng-repeat="item in ctrl.inventory"
				     layout="row"
				     layout-align="start end"
				     class="inventory-item md-margin">
					<div class="name">{{item.Name}}</div>

					<md-input-container class="measurement hide-md-errors-spacer">
						<label>{{item.Einheit}}</label>
						<input type="number"
						       ng-model="item.Inventarmenge"
						       ng-change="item.changed = true">
					</md-input-container>

					<md-button class="md-primary"
					           ng-show="item.changed"
					           ng-disabled="item.disabled"
					           ng-click="ctrl.saveInventoryItem(item)">
						Save
					</md-button>
				</div>

				<div>
					<md-autocomplete
							flex="auto"
							class="hide-md-errors-spacer"
							md-selected-item="ctrl.newInventoryItem.ingredient"
							md-search-text="ctrl.newInventoryItem.searchText"
							md-items="item in ctrl.ingredientsQuerySearch(ctrl.newInventoryItem.searchText)"
							md-item-text="item.Name"
							md-min-length="0"
							md-floating-label="Ingredient">
						<md-item-template>
							<span md-highlight-text="ctrl.newInventoryItem.searchText" md-highlight-flags="i">{{item.Name}}</span>
						</md-item-template>
						<md-not-found>
							<a ng-click="ctrl.newIngredient(ctrl.newInventoryItem, ctrl.newInventoryItem.searchText)"
							   class="layout-fill-link">
								Add "{{ctrl.newInventoryItem.searchText}}"
							</a>
						</md-not-found>
					</md-autocomplete>

					<!-- TODO Implementieren, dass man Zutaten, die noch keine Menge haben, hinzufügen kann -->
					<!-- TODO VOrschläge filtern nach menge == 0 -->
					<md-autocomplete
							ng-if="ingredient.item.new"
							class="hide-md-errors-spacer"
							md-selected-item="ctrl.newInventoryItem.ingredient.Einheit"
							md-search-text="ctrl.newInventoryItem.searchUnit"
							md-items="unit in ctrl.querySearchUnit(ctrl.newInventoryItem.searchUnit)"
							md-item-text="ctrl.newInventoryItem.unit"
							md-min-length="0"
							md-floating-label="Unit">
						<md-item-template>
							<span md-highlight-text="ctrl.newInventoryItem.searchUnit" md-highlight-flags="^i">{{ctrl.newInventoryItem.unit}}</span>
						</md-item-template>
					</md-autocomplete>

					<md-input-container class="measurement hide-md-errors-spacer">
						<label>{{item.Einheit}}</label>
						<input type="number"
						       ng-model="item.Inventarmenge"
						       ng-change="item.changed = true">
					</md-input-container>

					<md-button class="md-primary"
					           ng-show="item.changed"
					           ng-disabled="item.disabled"
					           ng-click="ctrl.saveInventoryItem(item)">
						Save
					</md-button>
				</div>
			</md-tab>
			<md-tab label="Ingredients">
				<md-list>
					<md-list-item ng-repeat="ingredient in ctrl.ingredients">
						<span>{{ingredient.Name}}</span>
					</md-list-item>
				</md-list>
			</md-tab>
		</md-tabs>

		<md-button class="md-fab md-fab-bottom-right"
		           ng-click="ctrl.openBottomSheet()"
		           ng-hide="ctrl.selectedTab === 0">
			<md-icon>add</md-icon>
		</md-button>
	</div>
</main>