@import 'src/theme-colors';


#main {
  > h1 {
    text-align: center;
  }

  > .tab-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding-bottom: 88px;
    margin-top: 16px;

    > md-tabs {
      min-height: 600px;
    }
  }

  .md-fab.ng-hide {
    transform: scale(0);
  }
}
