//////////////////////////////////////////////////////////
// All colors here match the angular material
// theme configuration in index.config.js
//

$primary: #10b797; // OvivaGreen-500
$accent: #FFD740; // Amber-A200
$warn: #F44336; // Red-500
$background: #f6fafb; // Grey-50 = Oviva Super Light Green

$foreground-1: rgba(0, 0, 0, 0.87);
$foreground-2: rgba(0, 0, 0, 0.54);
$foreground-3: rgba(0, 0, 0, 0.38);
$foreground-4: rgba(0, 0, 0, 0.12);

$primary-hue-1: #57CCB6; // OvivaGreen-300
$primary-hue-2: #00826B; // OvivaGreen-800
$primary-hue-3: #A7FFEB; // OvivaGreen-A100

$accent-hue-1: #FFE57F; // Amber-A100
$accent-hue-2: #FFC400; // Amber-A400
$accent-hue-3: #FFAB00; // Amber-A700

$warn-hue-1: #E57373; // Red-300
$warn-hue-2: #C62828; // Red-800
$warn-hue-3: #FF8A80; // Red-A100

$background-hue-1: #FFFFFF; // Grey-A100
$background-hue-2: #f5f5f5; // Grey-100
$background-hue-3: #e0e0e0; // Grey-300

$spacing: 16px;